Repository menix-os/coreutils, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, kernel, maintenance

Add CODEOWNERS
  CODEOWNERS
Labels: none

Update gitignore
  .gitignore
Labels: maintenance

Add clang-format
  .clang-format
Labels: none

Add CMakeLists.txt
  CMakeLists.txt
Labels: none

Add echo program
  echo/CMakeLists.txt
  echo/echo.c
Labels: none

Fix codeowners
  CODEOWNERS
Labels: none

Update readme
  README.md
Labels: docs, maintenance

.github/labeler.yml:

docs:
  - docs/*
  - README.md

kernel:
  - kernel/*

maintenance:
  - .github/*
  - .gitignore
  - README.md
  - LICENSE
